<footer [ngClass]="theme.getTheme() == 'dark' ? 'dark-theme' : ''" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Footer Content</h5>
        <p>You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="https://twitter.com/bintz_gavin?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                 data-size="large" data-show-screen-name="false" data-show-count="false">Follow @bintz_gavin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Gavin Bintz
    </div>
  </div>
</footer>
