@import 'sass/variables';

div {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;

  h1, h2 { color: $dark--green; }

  a {
    color: $dark--gray;

    &:visited, &:active, &:hover {
      color: $dark--gray;
    }
  }

  li { color: $dark--gray; }
}

