/* You can add global styles to this file, and also import other style files */
@import 'app/sass/variables';

html {
  height: 100%;
}

body {
  font-family: monaco,Bitstream Vera Sans Mono,monospace;
  background-color: $dark--white;
  display: grid;
  min-height: 100%;
}


.dark-theme {
  background-color: $dark--black;
}
